---
layout: default
--- 

{% for post in site.posts limit:3 %}
<div id="{{ post.date | date: "%F-%H" }}" class="unit whole align-left post">
{% if post.if_home %}
	<article itemscope itemtype="http://schema.org/BlogPosting">
		<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a><br>
		<small class="chip">{{ post.date | date: "%b %-d, %Y" }}</small>
		<a class="chip" href="https://twitter.com/intent/tweet?text={{ post.title | cgi_escape }}&url={{ post.date | date: "%F-%H" | prepend: "#" | prepend: site.baseurl | prepend: site.url | cgi_escape }}"><i class="icon ion-social-twitter"></i> TWEET</a>
		<a class="chip" href="{{ site.url }}{{ site.baseurl }}#{{ post.date | date: "%F-%H" }}"><i class="icon ion-android-share-alt"></i> LINK</a>
		</h2>
		
		<div class="post-content">
			{{ post.excerpt }}
		</div>

		{% if post.excerpt != post.content %}
		<a href="{{ post.url | absolute_url }}">Read more</a><br>
		{% endif %}

		{% if post.author %}
		<span class="chip" itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span itemprop="name">Article by {{ post.author }}</span>
		</span>
		{% endif %}
	</article>
{% endif %}
</div>
{% endfor %}
