---
layout: default
--- 

<h1>{{ page.title }}<br>
	<small class="chip">{{ page.date | date: "%b %-d, %Y" }}</small>
	<a class="chip" href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&url={{ post.url | absolute_url }}"><i class="icon ion-social-twitter"></i> TWEET </a>
</h1>
<div class="post-content">
	{{ content }}
</div>
<div class="PageNavigation">
	{% if page.previous.url %}
		<a class="prev" href="{{page.previous.url}}">&laquo; Previous</a>
	{% endif %}
	{% if page.next.url %}
		<a class="next" href="{{page.next.url}}">Next &raquo;</a>
	{% endif %}
</div>
